<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12">
      <footer class="bg-dark text-white pt-5 pb-4">

        <div class="container text-center">

          <div class="row text-center">

            <div class="col-md-4 mx-auto mt-3 text-center">
              <h5 class="text-uppercase mb-4 font-weight-bold" style="color: orange;">JMSOFT</h5>
              <p>An American company focused on the sale and distribution
                of payroll software & services, contact us for more information.</p>
            </div>

            <div class="col-md-4 mx-auto mt-3 text-center">
              <h5
                class="text-uppercase mb-4 font-weight-bold " style="color: orange;"
              >Social Networks</h5>
              <p>
                <a
                  href="#"
                  class="text-white"
                  style="text-decoration: none;"
                >
                  <span>
                    <img
                      src="/img/ig.png"
                      alt="instagram"
                      width="20px"
                    />
                  </span>
                Instagram
                </a>
              </p>
              <p>
                <a
                  href="#"
                  class="text-white"
                  style="text-decoration: none;"
                >
                  <span>
                    <img src="/img/twitter.png" alt="Twitter" width="20px" />
                  </span>
                Twitter
                </a>
              </p>
              <p>
                <a
                  href="#"
                  class="text-white"
                  style="text-decoration: none;"
                ><span>
                    <img
                      src="/img/facebook.png"
                      alt="Facebook"
                      width="20px"
                    />
                  </span>
                Facebook
                </a>
              </p>
            </div>

            <div class="col-md-4 mx-auto mt-3">
              <h5
                class="text-uppercase mb-4 font-weight-bold" style="color: orange;"
              >Contact Info</h5>
              <p>
                New York City, Manhattan. 6th Ave, 31st St.
              </p>
              <p>
                +(1) 9999-9999
              </p>
              <p>
                info@jmsoft.com
              </p>
            </div>

            <hr class="mb-4" />

            <div class="col-md-7 col-lg-8 mx-auto mt-3 text-center">
              <p>
                Copyright &#169;2021 All rights reserved by:
                <a href="#" style=" color:orange; text-decoration: none;">
                  <strong>JMSoft</strong></a>
              </p>
            </div>

            <p class="float-end"><a href="#">Back to top</a></p>

          </div>
        </div>
      </footer>
    </div>
  </div>
</div>